header[role="banner"] {
  display: flex;
  flex-direction: column;
}

#site-header::before {
  background-image: url('/assets/images/top-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40%;
  width: 100%;
  height: 0;
  min-height: 600px;
  content: '';
  position: absolute;
  z-index: -1;
}

#site-header nav {
  font-size: 1rem;

  ul {
    margin: 0;
    padding: 1rem 0 0 1rem;
    @include laptop {
      padding: 1rem 0 0 5rem;
    }
  }
  li {
    display: inline-block;
    padding: 1rem;
    @include laptop {
      padding: 1rem;
    }
  }
}

#site-header .headline {
  overflow: hidden;
  padding-bottom: 5em;
  padding-top: 5%;
  padding-left: 40%;
  align-self: center;
  @include tablet {
    overflow: hidden;
    padding-top: 0;
    padding-left: 50%;
  }
  @include laptop {
    overflow: hidden;
    padding-top: 5%;
    padding-left: 45%;
  }

}

#site-header .hero-image {
  max-width: 70%;
  box-sizing: content-box;
  position: relative;
  align-self: center;
  border-radius: 100%;
  border-width: 10px;
  border-style: solid;
  margin-bottom: 5em;
  @include mobile {
    max-width: 50%;
  }
  @include tablet {
    margin-bottom: 0;
    max-width: 350px;
    left: inherit;
  }
  @include laptop {
    max-width: 400px;
    top: -10em;
    right: 15%;
  }
}

main[role="main"] {
  display: flex;
  flex-direction: column;
}

.home-about {
  padding-left: 10vw;
  width: 90vw;
  max-width: 1000px;
  margin-top: 10em;
  margin-bottom: 10em;
  @include tablet {
    margin-top: 20em;
    margin-bottom: 20em;
    padding-left: 10vw;
    width: 70vw;
  }
}

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-code::before {
  background-image: url('/assets/images/code-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  min-height: 1500px;
  content: '';
  position: absolute;
  z-index: -1;
}

.topic-headline {
  overflow: hidden;
  padding-bottom: 10%;
  padding-top: 130%;
  padding-left: 10vw;
  padding-right: 10vw;
  align-self: center;
  // max-width: 1000px;
  @include mobile {
    // overflow: hidden;
    padding-top: 90%;
    // padding-left: 50%;
  }
  @include tablet {
    // overflow: hidden;
    padding-top: 50%;
    // padding-left: 50%;
  }
  @include laptop {
    // overflow: hidden;
    padding-top: 40%;
    // padding-left: 45%;
  }
}

.topic-headline-left {
  padding-right: 15%;
  @include tablet {
    padding-right: 40%;
  }
}

.skill-cloud {
  overflow: hidden;
  // margin-top: 5%;
  padding: 0;
  text-align: center;
  // max-width: 1000px;
  margin-left: 5vw;
  margin-right: 5vw;
  @include mobile {
    margin-top: 8%;
  }
  @include tablet {
    // margin-top: 30%;
  }
  @include laptop {
    // margin-top: 15%;
  }
}

.skill-cloud li {
  list-style: none;
  float: left;
  // padding: 5%;
  // &:nth-child()
}

@for $i from 1 through 10 {
  .skill-cloud li:nth-child(#{$i}n) {
    $i: percentage(random(5)/100);
    padding: $i;
    @include laptop {
      padding: $i * 1.3;
    }
  }
}
