{{> header}}
  <header role="banner" id="site-header" class="white">
    <nav role="navigation">
      <ul>
        <li>About</li>
        <li>Work</li>
        <li>Contact</li>
      </ul>
    </nav>
    <img src="assets/images/robin_istanbul.jpg" alt="Robin Andersson in Istanbul" class="hero-image">
    <div class="headline">
      <h1 class="f1 heading">Hi!</h1>
      <h2 class="f2">I'm Robin Andersson, <br>and I'm a<br>Web Developer</h2>
    </div>
  </header>

  <main role="main">

    <section class="home-about" class="black">
      <h1 class="heading">Who's this guy?</h1>

      <ul class="recent">
      {{#each articles }}
        <li>
          <div class="title"><a href="{{ path }}">{{ title }}</a></div>
          <div class="date">{{ date }}</div>
        </li>
      {{/each}}
      </ul>
    </section>



  </main>



{{> footer}}
