{{> header}}
  <header role="banner" id="site-header" class="white">
    <nav role="navigation">
      <ul>
        <li>About</li>
        <li>Work</li>
        <li>Contact</li>
      </ul>
    </nav>
    <div class="headline">
      <h1 class="f2 f1-ns fw3 heading">Hi!</h1>
      <h2 class="f4 f3-m f2-l fw4">I'm Robin Andersson, <br>and I'm a</h2>
      <h3 class="f5 f4-m f3-l ffw4">Web Developer</h2>
    </div>
    <img src="assets/images/robin_istanbul.jpg" alt="Robin Andersson in Istanbul" class="hero-image">
  </header>

  <main role="main">

    <section class="home-about" class="black">
      <h1 class="f3 f2-ns heading comp-blue">Who's this guy?</h1>
      <p class="f5 f4-ns lh-copy">Well, in short this guy is a <strong>web developer</strong> and <strong>designer</strong> from Sweden. I profile myself as a <strong>fullstack developer</strong> with focus on frontend, and with a keen interest in UI and UX design. 😎</p>

      <p class="f5 f4-ns lh-copy">I am a hardcore perfectionist at heart, although I've come to truly understand the benefits of iterating fast. ☝️ In some cases, done might really be better than perfect.</p>

    </section>

  </main>



{{> footer}}
