{{> header}}
  <header role="banner" id="site-header" class="white">
    <nav role="navigation">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="headline">
      <h1 class="f2 f1-ns fw3 heading">Hi!</h1>
      <h2 class="f4 f3-m f2-l fw4">I'm Robin Andersson, <br>and I'm a</h2>
      <h3 class="f5 f4-m f3-l ffw4">Web Developer</h2>
    </div>
    <img src="assets/images/robin_istanbul.jpg" alt="Robin Andersson in Istanbul" class="hero-image">
  </header>

  <main role="main">

    <section class="home-intro" class="black">
      <div class="headline-left">
        <h1 class="f2 f1-ns fw3 heading comp-blue">Who's this guy?</h1>
        <p class="f5 f4-ns lh-copy">Well, in short this guy is a <strong>web developer</strong> and <strong>designer</strong> from Sweden who is currently looking for a new gig!</p>
        <p class="f5 f4-ns lh-copy">I profile myself as a <strong>fullstack developer</strong> with focus on frontend, and with a keen interest in UI and UX design. 🙂 This goes hand in hand with my <strong>Bachelor's degree in Software enginnering</strong> and <strong>Master's degree in Interaction Design and Technologies</strong> from <a href="http://chalmers.se">Chalmers University of Technology</a>.</p>

        <p class="f5 f4-ns lh-copy">I am a hardcore perfectionist at heart, although I've come to truly understand the benefits of iterating fast. ☝️ In some cases, done might really be better than perfect (this site is a good example of that 😅).</p>

        <p class="f5 f4-ns lh-copy">Although, more than anything I value <strong>team spirit</strong> and having <strong>fun at work</strong> 😃 Merely putting in the hours and then going back to "real life" is not for me. With the right people, 12+ hours/day is a breeze.</p>
      </div>

    </section>

    <section class="home-code topic white">
      <div class="topic-headline headline-left">
        <h1 class="heading f2 f1-ns fw3">I code.</h1>
        <p class="f5 f4-ns lh-copy">I use and have used a bunch of languages and techniques to date. Generally, if a problem needs a certain stack I'll learn it quickly (if I don't know it already) 🙃 I try to stay humble and true to myself though – JavaScript is really where I belong.</p>
        <p class="f5 f4-ns lh-copy">Either way, here's a few of the techniques I use:</p>
      </div>
      <ul class="skill-cloud">
        <li class="f3">MySQL</li>
        <li class="f4">C</li>
        <li class="f4 f3-ns">SQL</li>
        <li class="f1 f-5-n f-6-l">JavaScript</li>
        <li class="f1 f-5-n f-6-l">CSS3</li>
        <li class="f3 f2-ns">MongoDB</li>
        <li class="f2 f1-ns">Java</li>
        <li class="f1 f-5-n f-6-l">HTML5</li>
        <li class="f4 f3-ns">Ruby on Rails</li>
        <li class="f3-ns">PHP</li>
        <li class="f4 f3-ns">C++</li>
        <li class="f3 f2-ns">React.js</li>
        <li class="f1 f-5-ns">Meteor.js</li>
      </ul>

    </section>

    <section id="about" class="home-about" class="black">
      <div class="headline-right">
        <h1 class="f2 f1-ns fw3 heading comp-blue">But, who's this Guy, really?</h1>
        <p class="f5 f4-ns lh-copy">Ah I see what you're asking! 😄 Here's a short summary of me;</p>
        <p class="f5 f4-ns lh-copy">I see myself as a <strong>football</strong> (soccer) player through and through, even though injuries have kept me from the sport the last 10 years! I make up for it by playing <strong>Fifa</strong> on my <strong>PS4</strong> instead 😉</p>
        <p class="f5 f4-ns lh-copy">I enjoy the company of <strong>close friends and family</strong>. Usually at some local bar, at home playing video games, or at the gym working out.</p>
        <p class="f5 f4-ns lh-copy">If there's something missing in my life, it's <strong>travels</strong>. I stayed abroad in Istanbul during my Thesis work, and it really sparked my interest 🔥 I hope to stay outside of Sweden again sometime soon! 🛩</p>
      </div>
    </section>

    <section class="home-design topic white">
      <div class="topic-headline headline-left">
        <h1 class="heading f2 f1-ns fw3">I design.</h1>
        <p class="f5 f4-ns lh-copy">From humble beginnings I started out designing websites for fun and have continued ever since.</p>
        <p class="f5 f4-ns lh-copy">Recently at <strong>Interaction Design and Technologies</strong> masters at Chalmers I learned a bunch of design techniques and processes. Above all – with the risk of sounding pretentious – this thought me how to really <strong>cultivate and nourish creativity</strong>, both individually and within groups.</p>
        <p class="f5 f4-ns lh-copy">Today, I know my way around these design principles:</p>
      </div>
      <ul class="skill-cloud">
        <li class="f4 f2-m f1-l">Interaction Design</li>
        <li class="f4 f3-l">Critical Design</li>
        <li class="f2 f1-m f-6-l">UX Design</li>
        <li class="f5 f4-m f3-l">Color Theory</li>
        <li class="f3 f2-m f1-l ">Human-Centered Design</li>
        <li class="f2 f1-m f-5-l">Web Design</li>
        <li class="f4 f3-m f2-l">Tangible Interaction</li>
        <li class="f2 f1-m f-5-l">UI Design</li>
        <li class="f3 f2-m f1-l">Icon Design</li>
        <li class="f4 f3-ns">Information Visualization</li>
      </ul>

    </section>

    <section id="work" class="home-work" class="black">
      <div class="headline-left">
        <h1 class="f2 f1-ns fw3 heading comp-blue">Want to work with me?</h1>

        <p class="f5 f4-ns lh-copy">I thoroughly enjoy working with other talented people, but have also previously thrived being the sole responsible developer of several undertakings.</p>

        <p class="f5 f4-ns lh-copy">During my studies I worked at <a href="http://ctk.se">Chalmers Teknologkonsulter AB</a> on various Web projects, by myself and in groups. I was also the <strong>first employee</strong> and <strong>lead developer</strong> at the <strong>startup <a href="http://vnudashboard.com">Vnu</a></strong> before the company had to shut its doors in the summer of '17. At Vnu I was responsible for the development of the company's web application (frontend, backend, db, deployment, etc.), written in Meteor.js.</p>

        <p class="f5 f4-ns lh-copy">Want to know more? Think I'll fit your team or have a project that needs to be built? Don't hesitate to reach out through the means below! :)</p>
      </div>

    </section>

  </main>

  <footer role="contentinfo" id="contact">
    <div class="footer-icon-container">

      <a href="https://se.linkedin.com/in/krobinandersson" target="_blank"><svg width="121" height="121" viewBox="0 0 121 121" xmlns="http://www.w3.org/2000/svg" id="linkedin-icon"><title>Linkedin</title><path d="M90.375 90.319H77.892V70.782c0-4.658-.083-10.649-6.488-10.649-6.496 0-7.486 5.076-7.486 10.318V90.32H51.446V50.147h11.967v5.494h.173c1.665-3.16 5.74-6.492 11.813-6.492 12.641 0 14.976 8.318 14.976 19.137v22.033zM37.37 44.66a7.24 7.24 0 0 1-7.245-7.241 7.24 7.24 0 1 1 14.479 0c0 3.995-3.242 7.241-7.234 7.241zm6.243 45.659H31.115V50.147h12.498v40.172zM60.25 0C26.973 0 0 26.973 0 60.25c0 33.273 26.973 60.25 60.25 60.25s60.25-26.977 60.25-60.25C120.5 26.973 93.527 0 60.25 0z" fill-rule="evenodd"/></svg></a>
      <a href="mailto:k.robin.andersson@gmail.com"><svg width="121" height="121" viewBox="0 0 121 121" xmlns="http://www.w3.org/2000/svg" id="mail-icon"><title>Mail</title><path d="M60.25 120.5C26.975 120.5 0 93.525 0 60.25S26.975 0 60.25 0s60.25 26.975 60.25 60.25-26.975 60.25-60.25 60.25zM23.713 35.563l36.332 25.675L96.17 35.71h.625v-.153h-73.09v.006h.008zm73.082 3.11L60.348 67.069 23.705 38.52v47.41h73.09V38.674z" fill-rule="evenodd"/></svg></a>
      <a href="https://github.com/robinandersson" target="_blank"><svg width="121" height="121" viewBox="0 0 121 121" xmlns="http://www.w3.org/2000/svg" id="git-icon"><title>Github</title><path d="M68.813 84.294s-4.074.493-8.563.493c-4.489 0-8.616-.456-8.616-.456-10.487-1.194-21.509-5.245-21.509-23.34 0-5.154 1.838-9.368 4.858-12.67-.482-1.194-2.105-5.995.463-12.499 0 0 3.965-1.269 12.987 4.843 3.766-1.047 7.807-1.57 11.82-1.59 4.011.02 8.052.543 11.825 1.59 9.015-6.112 12.972-4.843 12.972-4.843 2.576 6.504.957 11.305.471 12.498 3.024 3.303 4.854 7.517 4.854 12.672 0 18.139-11.04 22.134-21.562 23.302M60.25 0C26.973 0 0 26.973 0 60.25c0 33.273 26.973 60.25 60.25 60.25 33.273 0 60.25-26.977 60.25-60.25C120.5 26.973 93.523 0 60.25 0" fill-rule="evenodd"/></svg></a>
    </div>
  </footer>



{{> footer}}
