
$white: #fff;
$black: #4A4A4A;

$comp-green: #9AEED0;
$comp-red: #FDABA9;
$comp-purple: #FCAAD3;
$comp-blue: #87E2E8;

$primary-text-color: $white;
$secondary-text-color: $black;

$link-color: darken($comp-blue, 30%);
